/* Estilos para el SidebarCart */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: white;
  z-index: 1000;
  overflow: auto;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sidebar.show {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.productItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.productImage {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;
}

.productItem h6 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.productItem p {
  font-size: 0.9rem;
}

.quantity {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.quantity {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.quantity button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 5px;
  margin: 0 10px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.quantityInput {
  width: 50px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  margin: 0 10px;
  font-size: 1rem;
}

.cartButtons {
  text-align: center;
  margin-top: 20px;
}

.buttonGroup button {
  background-color: #6d6f72;
  color: #fff;
  border: 2px;
  border-color: #ff22c0;
  cursor: pointer;
  font-size: 1rem;
  padding: 5px 10px;
  margin: 0 10px;
  display: inline-block;
  width: 88px;
}

.buttonGroup button:hover {
  background-color: #d448d0;
}

