.card {
  max-width: 400px;
  overflow-y: auto;
  transition: max-height 0.3s; /* Agregamos una transición suave */
}

.cardImageContainer {
  max-width: 100%;
  max-height: 200px;
  overflow: hidden;
}

.cardImage {
  width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.card.expanded {
  max-height: none; /* Expandimos la tarjeta cuando esté abierta */
}



