header {
  background-color: rgb(255, 255, 255);
  position: fixed;
  left: 0;
  right: 0;
  top: 8px;
  height: 65px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 rgb(184, 70, 146);
  opacity: 0.95;
  }

  header * {
      display: inline;
      }
      
      header li {
      margin: 30px;
      }
      
      header li a {
      color: rgb(255, 255, 255);
      text-decoration: none;
      }
      
         .btn {
          background-color: #dbdfdb; /* Color de fondo */
          color: rgb(0, 0, 0); /* Color del texto */
          border: none; /* Sin borde */
          padding: 10px 10px; /* Relleno del botón (ajusta según tus preferencias) */
          cursor: pointer; /* Cursor de apuntador al pasar el mouse */
          font-size: 16px; /* Tamaño de fuente (ajusta según tus preferencias) */
          border-radius: 4px; /* Bordes redondeados */
          border: 1px solid  #ec8de4;
          margin-top: 5px; /* Espacio superior */
          transition: 0.5s ease background;
          width: 140px;
          height: 45px;
          left: 92%;
          top:16%;
          position: absolute;
          
        }
        .btn:hover {
          background-color: rgb(111, 61, 159); /* Cambiar el color de fondo al pasar el mouse */
          color: rgb(255, 255, 255);
        }
.btn1{
  background-color: #dbdfdb; 
          color: rgb(4, 4, 4);
          border: none; 
          padding: 5px 5px; 
          cursor: pointer;
          border: 1px solid  #ec8de4;
          font-size: 18px; 
          border-radius: 6px; 
          margin-top: 10px; /* Espacio superior */
          transition: 0.5s ease background;
          position: absolute;
          
          left: 56.1%;
          bottom: 15%;
          width: 90px;
          height: 45px;
}
.btn1:hover {
  background-color: rgb(111, 61, 159); /* Cambiar el color de fondo al pasar el mouse */
  color: rgb(255, 255, 255);
}

        .navinput{
          position: absolute;
              left: 40%;
              bottom: 15%;
              margin-right: 5px;
              background-color: #dbdfdb;
              border: 1px solid  #ffffff;
              border-radius: 5px;
              width: 340px;
              height: 45px;
              color: #000000;
              font-size: 25px;
              
        }
.login{
          background-color: #dbdfdb; 
                  color: rgb(0, 0, 0);
                  border: none;
                  height:45px ; 
                  width: 63px;
                  padding: 5px 5px; 
                  cursor: pointer;
                  font-size: 15px; 
                  border-radius: 6px; 
                  margin-top: 5px; /* Espacio superior */
                  transition: 0.5s ease background;
                  position: absolute;
                  border: 1px solid  #ec8de4;
                  left: 88.1%;
                  bottom: 8%;
}
      .login:hover {
          background-color:rgb(111, 61, 159); /* Cambiar el color de fondo al pasar el mouse */
          width: 65px;
          border: 1px solid  #ba5ca6;
          color: rgb(255, 255, 255);
        }

       
.carrito{
 color: #ec8de4;
  position: absolute;
  left: 86.1%;
  bottom: 8%;
  padding: 5px 5px;
  size: 40px;
      /* height: 95px; */
  /* background-color: #000000; */
  border: #ffffff;
  border-radius: 6px;
  
}