/* Estilo para la lista de tarjetas de eventos */
.event-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  /* Estilo para cada tarjeta de evento */
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
  }
  
  /* Estilo para la imagen del evento */
  .card img {
    width: 100%;
    height: auto;
  }
  
  /* Estilo para la información del evento */
  .card-info {
    padding: 10px;
  }
  
  .card-info h2 {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .card-info p {
    font-size: 1rem;
    margin: 5px 0;
  }
  
  .card-info button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
  }
  
  .card-info button:hover {
    background-color: #0056b3;
  }
  