.filterBarContainer {
  padding: 7px; 
  background: rgb(0, 0, 0); 
  opacity: 0.9;
  height: 15px;
  width: 354px;
  position: absolute;
  top: 9px;
  left: 1%;
  align-items: baseline;

}

.filterBarTitle {
  font-size: 1.5rem;
  height: 13px;


}
