.form__C {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
  }
  
  .card__title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .card__form {
    margin-bottom: 20px;
  }
  
  .label__form {
    font-weight: bold;
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .imgCont {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .uploadedImage {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  .card__content {
    color: red;
    font-size: 14px;
  }
  
  .btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  
  button {
    background-color: transparent;
    color: #007bff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
    padding: 0;
  }
  
  button:hover {
    text-decoration: none;
  }
  