
  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; 
    
  }
  
    .container {
      margin-bottom: 40px; 
    }


.navbar {
  margin-bottom: 40px; 
  margin-top: 80px; 
}

.sidebar {
  margin-top: 80px; 
}


.main {
  position: absolute;
  bottom: 15%;
  /* margin-top: 70px;  */
}



  